@media (min-width: 1024px) {
    .blog-image {
        display: block;
        flex: 0 0 35.66666667%;
        max-width: 35.66666667%;
    }
}
@media (min-width: 768px) {
    .blog-image {
        display: block;
        flex: 0 0 35.66666667%;
        max-width: 35.66666667%;
    }
}
@media (min-width: 300px) {
    .blog-image {
        display: block;
        flex: 0 0 35.66666667%;
        max-width: 35.66666667%;;
    }
}