
.list {
    div {
        width: 1024px;
        direction: rtl;
    }
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #5f5f5f3c;
    }
}
